html, body {
	background: #FAFAFA;
	font-family: 'Slabo 27px', serif;
	font-size: 1.2em;
	padding: 1em;
	padding-top: 0;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
