include mixins

+head("Mihai Rotaru")
+body({ga: "UA-59750763-1"})
  .starter-template
    h2 Mihai Rotaru
  
      h3 Web Developer
  
      h4 Participation in Open Source community
      iframe(src='https://githubbadge.appspot.com/mrotaru?a=0', style='border: 0;height: 142px;width: 200px;overflow: hidden;')
  
      h4 Participation in various programming and scientific Q&amp;A sites
      a(href='http://stackexchange.com/users/201300?tab=accounts')
        img(src='http://stackexchange.com/users/flair/201300.png', width='208', height='58', alt='profile for Mihai Rotaru on Stack Exchange, a network of free, community-driven Q&A sites', title='profile for Mihai Rotaru on Stack Exchange, a network of free, community-driven Q&A sites')
  
      h4 Get In Touch
      p
        | email: 
        a(href='mailto:mihai.rotaru@gmx.com') mihai.rotaru@gmx.com
