include mixins

+head("Mihai Rotaru | Projects")
+body({ga: "UA-59750763-1"})
  .starter-template
    h2 Various Projects
      h3
        a(href='https://github.com/mrotaru/nsc') NSc Web Scraper
      p Write your selectors in a JSON file, and pass them to NSc. Get structured data back.

      h3
        a(href='https://github.com/mrotaru/table-from-json') Table From JSON
      p Generate HTML tables from JSON data

      h3
        a(href='https://github.com/mrotaru/xml-tools-gui') XML Tools GUI
      p A simple Python GUI for XMLStarlet for validating XML files against XSD schemas.

  
